.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.user {
  width: 30%;
  margin: 40px auto;
}
.imm {
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .user {
    width: 40%;
    margin: 40px auto;
  }
  .imm {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 700px) {
  .user {
    width: 50%;
    margin: 40px auto;
  }
  .imm {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 700px) and (min-width: 500px) {
  .user {
    width: 70%;
    margin: 40px auto;
  }
  .imm {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .user {
    width: 90%;
    margin: 40px auto;
  }
  .imm {
    width: 100%;
    height: 300px;
  }
}
.loader {
  width: 60%;
  margin: 40px auto;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
